@model Mode.kiluat

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Thêm mới kỷ luật</h2>

@using (Html.BeginForm("Create", "Kyluat", FormMethod.Post,
                new
                {
                    @class = "form-horizontal",
                    role = "form",
                    enctype = "multipart/form-data"
                })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kỷ luật</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Mã kỷ luật", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.makl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.makl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hình thức kỷ luật", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.htkl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.htkl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Hủy", "Index")
</div>
