@model Mode.vipham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Tạo</h2>

@using (Html.BeginForm("Create", "Vipham", FormMethod.Post,
                new
                {
                    @class = "form-horizontal",
                    role = "form",
                    enctype = "multipart/form-data"
                }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vi phạm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sobienban)

        <div class="form-group">
            @Html.Label("Số biên bản", "sobienban", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sobienban, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sobienban, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("madv", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=> model.madv,null, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.madv, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label( "makl", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.makl,null,  new{ htmlAttributes = new { @class = "form-control" } })               
                @Html.ValidationMessageFor(model => model.makl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày kỉ luật", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaykl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaykl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="TẠO" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Hủy", "Index")
</div>
